.empty__cart {

    background-color: white;
    width: 100%;
    grid-column: 1/4;

    &__heading {
        padding: 10px;
        text-align: center;
        font-size: 45px;
    }

    &__link {
        display: block;
        padding: 10px;
        text-align: center;
        font-size: 25px;
        text-decoration: none;
        color: $color-primary;

        &:hover {
            color: $color-tertiary;
        }
    }
}