.orderBlock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding:15px;

    @include media-max(992px){
        display: flex;
        flex-direction: column;
    }
}