.container {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
}

.modale {
    position: relative;
    width: 240px;
    height: 150px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__message {
        text-align: center;
        padding: 10px;
        color: $color-primary;
        font-weight: 600;
    }

    &__close-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
        font-size: 20px;
        color: $color-secondary;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}